/* lista-examenes.scss */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.cabecera-paciente {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.info-paciente {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info-paciente p {
    margin: 5px 0;
    font-size: 1.1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden; /* Oculta los bordes que sobresalen */
}

th, td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.badge {
    padding: 0.5em 1em;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 12px;
    color: white;
}

.estado-en-cola {
    background-color: #dc3545; /* Rojo */
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 12px;
}

.estado-llamando {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 12px;
}

.estado-atendido {
    background-color: #28a745; /* Verde */
    color: white;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 12px;
}

.estado-en-espera {
    background-color: #ffc107; /* Amarillo */
    color: black; /* Cambiar a negro para mejor legibilidad */
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 12px;
}

// botom cerrar session 
/* src/app/components/lista-examenes/lista-examenes.component.scss */

.logout-button-container {
  position: absolute;
  top: 20px;   /* Ajusta la distancia desde el borde superior */
  right: 20px; /* Ajusta la distancia desde el borde derecho */
}

.btn-danger {
  /* Estilo general para un botón rojo bonito */
  background-color: #e53935; /* Rojo más vibrante */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  transition: transform 0.2s, background-color 0.2s; /* Animación al pasar el mouse */
}

.btn-danger:hover {
  background-color: #c62828; /* Rojo más oscuro al pasar el mouse */
  transform: translateY(-2px); /* Efecto de "levantarse" */
}